<div class="container m-5">
  <input type="text" placeholder="Search">
    <div class="row m-2" *ngFor="let item of data.items">
      <div class="d-flex">
        <span *ngIf="item.items && item.items.length > 0" (click)="expand(item)">
          <i class="fas fa-angle-right" style="cursor:pointer"></i>
        </span>
        <p class="m-1">{{ item.name }}</p>
      </div>
      <div *ngIf="isItems">
        <div class="nested-row m-3" *ngFor="let nestedItem of Items">
          <div class="d-flex">
            <span *ngIf="nestedItem.items && nestedItem.items.length > 0" (click)="expand(nestedItem)">
              <i class="fas fa-angle-right" style="cursor:pointer"></i>
            </span>
            <p class="m-1">{{ nestedItem.name }}</p>
          </div>
        </div>
      </div>
    </div>
</div>



